.airport-card {
    border: 1px solid #0b3f76;
    max-width: 1000px;
    margin: 10px auto;
    background-color: #10253e;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: start;
    border-radius: 20px;
}

.airport-card .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.airport-card .box div {
    padding: 10px;
}

.end-box {
    flex-direction: row !important;
}

.airport-name-text {
    font-size: 1.5rem;
}

.airport-image {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    border: 2px solid #0b3f76;
}

.airport-small-text {
    color: #369bfa;
}

.airport-btn {
    height: 50%;
    display: flex;
    border: 1px dashed #0b3f76;
    background-color: transparent;
    color: #0b3f76;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.airport-btn.active {
    background-color: #0e3867;
    color: #3b80c8;
    border-color: #3b80c8;
}

.airport-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}